<h1 style="text-align: center">
    {{ title }}
</h1>
<div class="container">
    <form (submit)="addTodo()" class="form">
        <input
            type="text"
            name="inputTodo"
            placeholder="Digite uma atividade..."
            class="form-control"
            [(ngModel)]="inputTodo"
        />
        <input type="submit" class="btn btn-primary" value="Adicionar" />
    </form>
</div>

<div class="container-sm">
    <div class="todos">
        <ul
            class="list-group"
            *ngFor="let todo of todos; let i = index"
            [class.done]="todo.completed"
        >
            <li
                class="list-group-item"
                style="display: flex; justify-content: space-between"
            >
                <div >
                    <span> {{ i + 1 }}. </span>
                    {{ todo.content }}
                </div>
                <button class="btn btn-secondary" (click)="deleteTodo(i)">
                    Remover
                </button>
            </li>
        </ul>
    </div>
</div>
